<!DOCTYPE html>
<html>
<body>
<div style="width: 960px;font-size: 40px;">
    <div style="font-size: 45px;">
        <b>Product You Like </b><br><br>
    </div>
    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;Hello, everybody! Welcome to visit.</span><br><br>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;It is excited that there are many interesting things from this page. If you like, please come here when you have spare time.</span><br><br>
        <a href="{% url 'product_quotes' %}">Let's start! </a>
    </div>
</div>
</body>
</html>
