<html>
<head>
    <title>Quotes From Famous People</title>
</head>
<body>
<div style="width: 960px;font-size: 40px;">
    <div style="font-size: 45px;">
        <b>Quotes From Famous People </b>
    </div>
    <div>
        <ul>
            <li>
                <div>
                    <span><b>2017年8月29日</b></span><br><br>
                    <span>真理惟一可靠的标准就是永远自相符合。</span><br><br>
                    <span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        Said By <b>欧文</b>
                    </span>
                    <br><br>
                </div>
            </li>
            <li>
                <div>
                    <span><b>8月</b></span><br><br>
                    <span>真理惟一可靠的标准就是永远自相符合。</span><br><br>
                    <span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        Said By <b>欧文</b>
                    </span>
                    <br><br>
                </div>
            </li>
            <li>
                <div>
                    <span>"Finish each day and be done with it. You have done what you could. Some blunders and absurdities no doubt crept in; forget them as soon as you can. Tomorrow is a new day. You shall begin it serenely and with too high a spirit to be encumbered with your old nonsense."</span><br>
                    <span>said by <b>Ralph Waldo Emerson</b></span><br>
                    <span>爱默生的名言：“努力完成每一天的事情，你已经把你能做的都完成了。你要尽快忘记那些错误和你所做的荒谬事。明天是崭新的一天，你要精神饱满地迎接它，不要被过去所做的荒谬事拖累。”</span><br><br>
                </div>
            </li>
            <li>
                <div>
                    <span>"There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle."</span><br>
                    <span>said by <b>Albert Einstein</b></span><br>
                    <span>爱因斯坦的名言：“活着，有两种状态。一种，好像没有什么是奇迹。另一种，仿佛一切都是奇迹。”</span><br><br>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
