<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Beautiful design tables in HTML in the style of a zebra.</title>
	<link rel="stylesheet" href="/static/test2/css/style.css" type="text/css">
</head>

<body>

<div id="container">   

	<table class="zebra">
    <caption>Beautiful design tables in HTML in the style of a zebra.</caption>
		<thead>
        	<tr>
                <th>Name</th>
				<th>Price</th>
				<th>Open Price</th>
				<th>Datetime</th>
            </tr>
		</thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.close_price }}</td>
                <td>{{ item.open_price }}</td>
                <td>{{ item.create_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
	</table>
</div>
    
</body>
</html>